<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>古诗文网-首页</title>
    <link rel="stylesheet" href="/static/reset.css" />
    <link rel="stylesheet" href="/static/main.css" />
  </head>

  <body>
    <div>
      <!-- 公共头部 -->
      <div class="header" th:fragment="header">
        <div class="header-content">
          <h1>古诗文网</h1>

          <div class="nav">
            <a href="/">首页</a>
            <a href="/users">作者</a>
          </div>
        </div>
      </div>

      <div class="main">
        <div class="box">

          <div class="box-content">

            <div th:each="item: ${list}">
              <a class="item" th:text="${item.title} + ' - ' + ${item.user.name}" th:href="'/blog/'+${item.id}">但愿人长久，千里共婵娟。</a>
            </div>
        </div>
      </div>

      <!-- 公共底部 -->
      <div class="footer" th:fragment="footer">&copy; 2020</div>
    </div>
  </body>
</html>
