<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mouday.blogapi.mapper.DynastyMapper">
    <resultMap id="BaseResultMap" type="com.mouday.blogapi.pojo.Dynasty">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, name, create_time, update_time
  </sql>

    <select id="getAllDynastyWithUserCount" resultType="com.mouday.blogapi.pojo.Dynasty">
    select * from mo_dynasty
    left join
    (select dynasty_id, count(*) as user_count from mo_user GROUP BY dynasty_id) dynasty_count
    on  mo_dynasty.id = dynasty_count.dynasty_id
    order by user_count desc
  </select>

    <update id="updateDynastyById" parameterType="com.mouday.blogapi.pojo.Dynasty">
    update mo_dynasty
    set
        name = #{name}
    where
        id = #{id}
  </update>

</mapper>